.filter-form__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.filter-form__content {
  justify-content: center;
  background: #F9F9F9;
  display: inline-flex;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding: 9px 18px;
  margin-right: 16px;
  margin-top: 10px;
}

.filter-form__item {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 19px;
  color: $main-color;
  margin-right: 12px;
  display: flex;
  align-items: flex-end;

  &::before {
    margin: 0;
    margin-right: 8px;
    content: "";
    display: flex;
    align-items: flex-end;
    border: 1.5px solid #d1d1d1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: background-color 0.3s ease, border 0.3s ease;
  }
}

.zero-margin {
  margin-right: 0;
}

.filter-form__content-input:checked~.filter-form__item::before {
  border: 6px solid;
}

.filter-form__item-checkbox {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 19px;
  color: $main-color;
  margin-right: 12px;
  display: flex;
  align-items: flex-end;

  &::before {
    margin: 0;
    margin-right: 8px;
    content: "";
    border: 1.5px solid #d1d1d1;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    transition: background-color 0.3s ease, border 0.3s ease;
  }
}

.filter-form__content-input:checked~.filter-form__item-checkbox::before {
  background-color: $green-cl;
  background-image: url(../img/correct.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 10px;
  border: 2px solid #46760A;
}

.filter-form__item-nbm {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $main-color;
  padding: 0 5px;
  background-color: transparent;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
}

.filter-form__box {
  display: flex;
  align-items: center;
}

.filter-form__item-margin {
  margin-right: 32px;
}

.filter-form__select-line {
  display: inline-flex;
  align-items: center;
}

.filter-form__select-line::before {
  content: '';
  display: block;
  width: 1px;
  height: 24px;
  background-color: #d1d1d1;
  margin-right: 24px;
}

.filter-form__select {
  border: none;
  background-color: transparent;
  color: $main-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
 
}

.applied-filter {
  display: flex;
  align-items: center;
}

.applied-filter__heading {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $grey-cl;
  margin-right: 20px;
}

.applied-filter__btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $green-cl;
  margin-right: 12px;
  background: #F4F8EC;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 2px 8px 2px 8px;
  border: none;
  cursor: pointer;

  &::after {
    content: '';
    background-image: url(../img/close-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 12px;
    height: 12px;
    padding-right: 8px;
    margin-left: 8px;
  }
}

.filter-btn__close {
  display: none;
}