/* LINKS SECTION */
.links-section {
  background-color: $lightGrey-cl;
}

@media only screen and (max-width: 450px) {
  .links-section{
    display: none
  }
}
.links__list {
  @include list-unstyled;
  padding: 16px 0px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.links__link {
  position: relative;
  text-decoration: none;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $main-color;
}

.links__item:not(:last-child) {
  margin-right: 60px;
}

.links__link::before {
  position: absolute;
  content: "";
  display: block;
  right: -20px;
  bottom: 1px;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-image: url("../../img/icon-down.svg");
  background-repeat: no-repeat;
}

.dropdown {
  position: absolute;
  width: 100px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $white-cl;
  border-radius: 5px;
  padding: 5px;
  display: none;
}


.dropdown-item:not(:last-child) {
  margin-bottom: 5px;
}

.dropdown-link {
  display: block;
  text-decoration: none;
  color: $main-color;
  white-space: nowrap;

  &:hover {
    background-color: #92c75d;
  }
}

.links__item:hover .dropdown {
  display: block;
}