.page-links__wrapper {
    padding: 16px 0;;
}


.page-links__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    font-family:$secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
   
}
.page-links__item {
    margin-right: 8px;
}

.page-links__item:not(:last-child)::after  {
    content: "/";
    margin:0 8px;
}

.page__links {
    color:$main-color;
    text-decoration: none;
}


.page-links__item:not(:last-child)  .page__links {
    color: $grey-cl;
    text-decoration: none;
}

