.page-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.page-view__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.page-view__list {
    @include list-unstyled;
    display: flex;
    font-family: $secondary-font;
}

.page-view__item:not(:last-child) {
    margin-right: 25px;
   }

.page-view__btn {
    color: $grey-cl;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.view-icons {
    padding-left: 20px;
}

.product-counter {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $green-cl;
    background-color: #F4F8EC;
    width: 32px;
    height: 18px;
    border-radius: 12px;
}

.grid-view {
    color: $black-cl;
    background-image: url(/img/grid-view.svg);
    background-repeat: no-repeat;
    background-size: 13.5px;
}

.list-view {
    background-image: url(/img/list_view.svg);
    background-repeat: no-repeat;
    background-size: 16px;
}