.site-header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0 45px;
    background-color: white;
}

.middle__logo-link {
    min-width: 177px;
    height: 18px;
    margin-right: 20px;
}

@media only screen and (max-width: 360px) {
    .site-header__middle {
        min-width: 100%;
        padding: 40px 0 45px;   
    }

    .middle__logo {
        max-width: 147px;
        height: 18px;
        margin-right: 0px;
    }

    .middle__logo-link {
        margin-right: 0;
    }
}


